@model Vidly.Models.Movie
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movie</h1>

<table class="table" style="width:100%; font-size:x-large">
    <tbody>
        <tr><td>@Model.Name<td></tr>
    </tbody>
</table>
<ul style="font-size:large">
    <li>Genre: @Model.Genre.GenreName</li>
    <li>Release Date: @Model.ReleaseDate.ToLongDateString()</li>
    <li>Date Added: @Model.DateAdded.ToLongDateString()</li>
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>
